name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: stable

      - name: Install dependencies
        working-directory: ./ScanAware_full_project
        run: flutter pub get

      - name: Build APK
        working-directory: ./ScanAware_full_project
        run: flutter build apk --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ScanAware-APK
          path: ./ScanAware_full_project/build/app/outputs/flutter-apk/app-release.apk
