name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repo
        uses: actions/checkout@v3

      # Set up Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.6'
          channel: stable

      # Install dependencies
      - name: Install dependencies
        working-directory: ./ScanAware_full_project
        run: flutter pub get

      # Build APK (release)
      - name: Build APK
        working-directory: ./ScanAware_full_project
        run: flutter build apk --release

      # Upload artifact
      - name: Upload APK artifact
        uses: actions/upload-artifact@v3
        with:
          name: ScanAware-APK
          path: ./ScanAware_full_project/build/app/outputs/flutter-apk/app-release.apk
